RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_REFERER} !^http://qmuaji.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://qmuaji.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rmuaji.qmuaji.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rmuaji.qmuaji.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rmuaji.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rmuaji.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wedding.qmuaji.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wedding.qmuaji.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.qmuaji.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.qmuaji.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rmuaji.qmuaji.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rmuaji.qmuaji.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rmuaji.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rmuaji.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wedding.qmuaji.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wedding.qmuaji.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://qmuaji.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://qmuaji.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rmuaji.qmuaji.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rmuaji.qmuaji.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rmuaji.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rmuaji.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wedding.qmuaji.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wedding.qmuaji.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.qmuaji.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.qmuaji.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rmuaji.qmuaji.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rmuaji.qmuaji.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rmuaji.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rmuaji.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wedding.qmuaji.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wedding.qmuaji.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

